a {
   text-decoration: none;
}

body {
   font-family: 'Roboto', sans-serif;
   color: #0A143A;
   font-size: 14px;
}

.container {
   max-width: 1146px;
   margin: auto;
}

.header {
   padding-top: 30px;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 24px;
}

.navbar-menu {
   margin-right: auto;
}

.menu {
   display: flex;
   margin: 0;
   padding-left: 24px;
   padding-right: 24px;
   list-style: none;
}

.menu-item:not(:last-child) {
   margin-right: 14px;
}

.menu-link {
   color: inherit;
   text-decoration: none;
   line-height: 16px;
}

/*  */

.button {
   cursor: pointer;
   text-decoration: none;
   padding: 10px 12px;
   display: inline-block;
}

.button-link {
   color: inherit;
}

.button-primery {
   color: #fff;
   background: #256EEB;
   border-radius: 5px;
}

/* searche panell */
.search-panel {
   display: flex;
   height: 50px;
   background: #256EEB;
   border-radius: 5px;
   padding: 3px;
}

.search-input {
   flex-grow: 1;
   background: #FFFFFF;
   border-radius: 5px;
   border: none;
   outline: none;
   padding-left: 22px;
   padding-right: 22px;
}

.search-input:focus {
   border: 1px solid grey;
}

.search-button {
   display: flex;
   align-items: center;
   background: #256EEB;
   outline: none;
   border: none;
   padding-left: 20px;
   padding-right: 15px;
}

.search-button-text {
   color: #fff;
   margin-left: 5px;
}

/* styles for content */

.page-content {
   display: grid;
   grid-template-columns: 9fr 3fr;
   grid-gap: 20px;
}


.page-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 25px;
}

.cards {
   display: flex;
   flex-wrap: wrap;
}

.card {
   padding: 0;
   margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
   margin-right: 20px;
}

.card-img {
   max-width: 264px;
   max-height: 178px;
   object-fit: cover;
   border-radius: 10px;
}

.card-header {
   display: flex;
   justify-content: space-between;
}

.card-title {
   color: #256EEB;
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   max-width: 200px;
}

.like {
   background: #fff;
   border: none;
   cursor: pointer;
}

.price {
   font-weight: bold;
   font-size: 16px;
   line-height: 19px;
   color: inherit;
   display: inline-block;
   margin-bottom: 10px;
}

.card-text {
   color: #C4C4C4;
   margin: 0 0 4px 0;
}

/* style for aside */
.service-main-title {
   font-weight: bold;
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 30px;
}

.service {
   margin-bottom: 30px;
}

.service-img {
   margin: 0 0 7px 0;
}

.service-title {
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;
   padding: 0;
   margin: 0;
}

.service-text {
   max-width: 230px;
}

/* style for aside footer*/

.footer-text {
   font-size: 14px;
   line-height: 16px;
   color: #C4C4C4;
}

.footer-menu {
   list-style: none;
   padding: 0;
   margin: 0;
   margin-bottom: 10px;
}

/* styling for single page */
.content {
   width: 460px;
}

/* styles swiper */
.swiper-container {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 357px;
   object-fit: cover;
}

.swiper-container {
   width: 100%;
   height: 300px;
   margin-left: auto;
   margin-right: auto;
}

.swiper-slide {
   background-size: cover;
   background-position: center;
}

.mySwiper2 {
   width: 100%;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.mySwiper {
   height: 20%;
   box-sizing: border-box;
   padding: 10px 0;
}

.mySwiper .swiper-slide {
   width: 25%;
   height: 100%;
   opacity: 0.4;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
   opacity: 1;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.content-text {
   font-size: 14px;
   line-height: 24px;
}